.form-wraper{
    width: 30%;
    height: 400px;
    border-radius: 20px;
    background-color: rgb(40, 36, 36);
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    
}